# Project proposal

---

Group name:

---

## Introduction

The introduction section includes

-   an introduction to the subject matter you're investigating
-   the motivation for your question (citing any relevant literature/study results ...)
-   the general (research) question you wish to explore
-   your hypotheses regarding the (research) question of interest.


## Data description

In this section, you will describe the data set you wish to explore. This includes

-   description of the observations in the data set,
-   description of how the data was originally collected (not how you found the data but how the original curator of the data collected it).

## Analysis approach

In this section, you will provide a brief overview of your analysis approach. This includes:

-   Description of the relevant variable.
-   Exploratory data analysis and summary statistics for the relevant variables.
-   The visualization types (what kind of visualizations you will you use)

## Data dictionary

*Create a data dictionary for all the variables in your data set. You may fill out the data description table or create your own table with Pandas:*

<br>


| Name  |   Description	   	| Type   	|  Format 	|
|---	|---	          	|---	    |---	|
|   	|   	            |   	    |   	|
|   	|   	       	    |   	    |   	|
|   	|   	       	    |   	    |   	|


<br>


- `Type`: nominal, ordinal or numeric

- `Format`: int, float, string, category, date or object

In [39]:
import pandas as pd

df = pd.read_csv('https://data.stadt-zuerich.ch/dataset/vbz_fahrzeiten_ogd_2021/download/Fahrzeiten_SOLL_IST_20210228_20210306.csv')

In [44]:
df_table = pd.DataFrame()

name_table = list(df.columns.values)
format_table = list(df.dtypes)

type_table = ['','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','']
description_table = ['','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','','']

df_table['Name'] = name_table
df_table['Description'] = description_table
df_table['Type'] = type_table
df_table['Format'] = format_table

df_table

                    Name Description Type  Format
0                  linie                    int64
1               richtung                    int64
2          betriebsdatum                   object
3               fahrzeug                    int64
4                   kurs                    int64
5                seq_von                    int64
6          halt_diva_von                    int64
7    halt_punkt_diva_von                    int64
8         halt_kurz_von1                   object
9              datum_von                   object
10           soll_an_von                    int64
11            ist_an_von                    int64
12           soll_ab_von                    int64
13            ist_ab_von                    int64
14              seq_nach                    int64
15        halt_diva_nach                    int64
16  halt_punkt_diva_nach                    int64
17       halt_kurz_nach1                   object
18            datum_nach                   object
19          soll_an_nach                    int64
20          ist_an_nach1                    int64
21          soll_ab_nach                    int64
22           ist_ab_nach                    int64
23              fahrt_id                    int64
24            fahrweg_id                    int64
25                 fw_no                    int64
26                fw_typ                    int64
27               fw_kurz                    int64
28               fw_lang                   object
29            umlauf_von                    int64
30           halt_id_von                    int64
31          halt_id_nach                    int64
32     halt_punkt_id_von                    int64
33    halt_punkt_id_nach                    int64