# Draft analysis 

---

Group name: Gruppe D

---

## 1. Introduction

### 1.1 Motivation

In dieser Untersuchung setzt sich die Projektgruppe D mit dem Thema Mobilität außeinander. Dieses Thema ist im Hinblick auf aktuelle gesellschaftliche und politische Problemstellungen bezüglich Klimaerwärmung und Klimazielen sehr relevant. Zürich ist neben Wien eine der am besten ausgebauten Städte bezogen auf den öffentlichen Personenverkehr. Es liegt eine Umfangreiche Datensammlung der Verkehrsbezüge Zürich vor, mit der das bestehende Verkersangebot untersucht wird.

### 1.2 Data
Zur Analyse der Daten stehen wöchentliche csv-Dateien zur Verfügung, welche eine Vielzahl an Daten beinhalten. Jeder Eintrag stellt einen geplanten Halt eines Fahrzeugs der Verkehrsbetriebe Zürich dar und gibt eine präzise Auskunft über Datum, Linie, Fahrzeug, Haltestelle und vielem mehr. Somit ermöglicht der Datensatz einen Vergleich zwischen den geplanten und tatsächlich erfolgten Fahrzeiten der Fahrzeuge der Verkehrsbetriebe Zürich. Da vielen Daten aus der Tabelle eine interne ID und somit einen Fremdschlüssel zu anderen Tabellen darstellen, sind weitere Tabellen vorhanden, um diese Daten mit konkreten, verständlichen Bezeichnungen verknüpfen zu können.

Der Datenlieferant ist Verkehrsbetriebe Zürich, Departement der Industriellen Betriebe. Die Daten wurden erstmals 2015 erfasst und werden seither wöchentlich sonntags aktualisiert. Sämtliche Zeiten werden dabei auf die Sekunde gemessen. Über die genaue Bereitstellung der Daten gibt es keine Informationen. Da die Daten wöchentlich aktualisiert werden, ist davon auszugehen, dass die Daten durch einen automatischen Export aus einer oder mehreren weiteren Datenbanktabellen zusammengetragen und miteinander verknüpft werden.

Für die Untersuchung werden Daten vom September 2022 betrachtet.

### 1.3 Research Question
Aus der herangegangenen Motiation und Darlegung der Daten stellt sich die Frage: Wie kann der bestehnde Nahverkehr in Zürich verbessert werden? 

#### 1.3.1 Hypothese

### 1.4 Data Dictionary

## 2. Setup

In [1]:
import pandas as pd
import altair as alt

# reset display of max rows to enable displaying all columns of large dfs
pd.options.display.max_columns = None

## 3. Data

### 3.1 Import data

Import der benötigten CSV-Dateien

In [2]:
# import csv's

# 1. Septemberwoche 2022
df_week1 = pd.read_csv("https://data.stadt-zuerich.ch/dataset/vbz_fahrzeiten_ogd/download/Fahrzeiten_SOLL_IST_20220904_20220910.csv")

# 2. Septemberwoche 2022
df_week2 = pd.read_csv("https://data.stadt-zuerich.ch/dataset/vbz_fahrzeiten_ogd/download/Fahrzeiten_SOLL_IST_20220911_20220917.csv")

# 3. Septemberwoche 2022
df_week3 = pd.read_csv("https://data.stadt-zuerich.ch/dataset/vbz_fahrzeiten_ogd/download/Fahrzeiten_SOLL_IST_20220918_20220924.csv")

# 4. Septemberwoche 20222
df_week4 = pd.read_csv("https://data.stadt-zuerich.ch/dataset/vbz_fahrzeiten_ogd/download/Fahrzeiten_SOLL_IST_20220925_20221001.csv")

# Haltestellen
df_haltestellen = pd.read_csv('https://data.stadt-zuerich.ch/dataset/vbz_fahrzeiten_ogd/download/Haltestelle.csv')

# Linien
df_linie = pd.read_csv('https://data.stadt-zuerich.ch/dataset/vbz_fahrgastzahlen_ogd/download/LINIE.csv', delimiter=';')

In [3]:
# concat dfs
df_tot = pd.concat([df_week1, df_week2, df_week3, df_week4], ignore_index=True)

# control concat
print("Daten erfolgreich zusammengeführt") if len(df_tot.index) == len(df_week1.index) + len(df_week2.index) + len(df_week3.index) + len(df_week4.index) else print("Fehler beim Zusammenführen der Daten")

Daten erfolgreich zusammengeführt

Übersicht des DataFrames

In [4]:
df_tot.head()

,linie,richtung,betriebsdatum,fahrzeug,kurs,seq_von,halt_diva_von,halt_punkt_diva_von,halt_kurz_von1,datum_von,soll_an_von,ist_an_von,soll_ab_von,ist_ab_von,seq_nach,halt_diva_nach,halt_punkt_diva_nach,halt_kurz_nach1,datum_nach,soll_an_nach,ist_an_nach1,soll_ab_nach,ist_ab_nach,fahrt_id,fahrweg_id,fw_no,fw_typ,fw_kurz,fw_lang,umlauf_von,halt_id_von,halt_id_nach,halt_punkt_id_von,halt_punkt_id_nach
0,2,1,08.09.22,3059,1,25,440,0,BELL,08.09.22,30618,30603,30636,30632,26,1845,0,OPER,08.09.22,30702,30713,30732,30740,42241,173050,1,1,1,SGEI - BTIE,284307,1565,2104,52890,10538
1,2,1,08.09.22,2069,4,25,440,0,BELL,08.09.22,26118,26053,26136,26069,26,1845,0,OPER,08.09.22,26202,26139,26232,26158,42313,173050,1,1,1,SGEI - BTIE,284477,1565,2104,52890,10538
2,2,1,08.09.22,3059,1,25,440,0,BELL,08.09.22,36462,36409,36486,36442,26,1845,0,OPER,08.09.22,36564,36528,36588,36553,42243,173050,1,1,1,SGEI - BTIE,284307,1565,2104,52890,10538
3,2,1,08.09.22,2079,10,25,440,0,BELL,08.09.22,34662,34656,34686,34675,26,1845,0,OPER,08.09.22,34764,34770,34788,34787,42471,173050,1,1,1,SGEI - BTIE,284540,1565,2104,52890,10538
4,2,1,08.09.22,2066,2,25,440,0,BELL,08.09.22,31068,31100,31086,31121,26,1845,0,OPER,08.09.22,31152,31220,31182,31266,42261,173050,1,1,1,SGEI - BTIE,284361,1565,2104,52890,10538

### 3.2 Data structure

In [5]:
df_tot.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5682894 entries, 0 to 5682893
Data columns (total 34 columns):
 #   Column                Dtype
---  ------                -----
 0   linie                 int64
 1   richtung              int64
 2   betriebsdatum         object
 3   fahrzeug              int64
 4   kurs                  int64
 5   seq_von               int64
 6   halt_diva_von         int64
 7   halt_punkt_diva_von   int64
 8   halt_kurz_von1        object
 9   datum_von             object
 10  soll_an_von           int64
 11  ist_an_von            int64
 12  soll_ab_von           int64
 13  ist_ab_von            int64
 14  seq_nach              int64
 15  halt_diva_nach        int64
 16  halt_punkt_diva_nach  int64
 17  halt_kurz_nach1       object
 18  datum_nach            object
 19  soll_an_nach          int64
 20  ist_an_nach1          int64
 21  soll_ab_nach          int64
 22  ist_ab_nach           int64
 23  fahrt_id              int64
 24  fahrweg_id            int64
 25  fw_no                 int64
 26  fw_typ                int64
 27  fw_kurz               int64
 28  fw_lang               object
 29  umlauf_von            int64
 30  halt_id_von           int64
 31  halt_id_nach          int64
 32  halt_punkt_id_von     int64
 33  halt_punkt_id_nach    int64
dtypes: int64(28), object(6)
memory usage: 1.4+ GB

### 3.3 Data corrections

In [6]:
# remove unnecessary columns in df_tot
df_tot = df_tot.drop(['kurs', 'seq_von', 'datum_von', 'halt_diva_von', 'halt_punkt_diva_von', 'seq_nach',
'halt_diva_nach', 'halt_punkt_diva_nach', 'halt_kurz_nach1', 'datum_nach', 'fahrt_id', 'fahrweg_id', 'fw_no', 'fw_typ',
'fw_kurz', 'fw_lang', 'umlauf_von', 'halt_punkt_id_von', 'halt_punkt_id_nach'], axis=1)

In [7]:
df_tot.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5682894 entries, 0 to 5682893
Data columns (total 15 columns):
 #   Column          Dtype
---  ------          -----
 0   linie           int64
 1   richtung        int64
 2   betriebsdatum   object
 3   fahrzeug        int64
 4   halt_kurz_von1  object
 5   soll_an_von     int64
 6   ist_an_von      int64
 7   soll_ab_von     int64
 8   ist_ab_von      int64
 9   soll_an_nach    int64
 10  ist_an_nach1    int64
 11  soll_ab_nach    int64
 12  ist_ab_nach     int64
 13  halt_id_von     int64
 14  halt_id_nach    int64
dtypes: int64(13), object(2)
memory usage: 650.4+ MB

In [8]:
df_tot.isnull().sum()

linie             0
richtung          0
betriebsdatum     0
fahrzeug          0
halt_kurz_von1    0
soll_an_von       0
ist_an_von        0
soll_ab_von       0
ist_ab_von        0
soll_an_nach      0
ist_an_nach1      0
soll_ab_nach      0
ist_ab_nach       0
halt_id_von       0
halt_id_nach      0
dtype: int64

In [9]:
df_haltestellen.head()

   halt_id  halt_diva halt_kurz                      halt_lang  halt_ist_aktiv
0      143       2570    BirWSL    Birmensdorf ZH, Sternen/WSL            True
1      309       3356    WalBir  Waldegg, Birmensdorferstrasse            True
2      373       6232    FRAF07       Zürich Flughafen, Fracht            True
3      539       2655    TBAH01               Thalwil, Bahnhof            True
4      588       3027    FLUG07      Zürich Flughafen, Bahnhof            True

In [10]:
# remove unnecessary columns in df_haltestellen
df_haltestellen = df_haltestellen.drop(['halt_diva', 'halt_kurz', 'halt_ist_aktiv'], axis=1)
df_haltestellen.head()

   halt_id                      halt_lang
0      143    Birmensdorf ZH, Sternen/WSL
1      309  Waldegg, Birmensdorferstrasse
2      373       Zürich Flughafen, Fracht
3      539               Thalwil, Bahnhof
4      588      Zürich Flughafen, Bahnhof

In [11]:
# join both dataframes
df_tot = df_tot.join(df_haltestellen.set_index('halt_id'), on='halt_id_von')
df_tot = df_tot.rename(columns={"halt_lang": "halt_lang_von"})

df_tot = df_tot.join(df_haltestellen.set_index('halt_id'), on='halt_id_nach')
df_tot = df_tot.rename(columns={"halt_lang": "halt_lang_nach"})

df_tot.head()

,linie,richtung,betriebsdatum,fahrzeug,halt_kurz_von1,soll_an_von,ist_an_von,soll_ab_von,ist_ab_von,soll_an_nach,ist_an_nach1,soll_ab_nach,ist_ab_nach,halt_id_von,halt_id_nach,halt_lang_von,halt_lang_nach
0,2,1,08.09.22,3059,BELL,30618,30603,30636,30632,30702,30713,30732,30740,1565,2104,"Zürich, Bellevue","Zürich, Opernhaus"
1,2,1,08.09.22,2069,BELL,26118,26053,26136,26069,26202,26139,26232,26158,1565,2104,"Zürich, Bellevue","Zürich, Opernhaus"
2,2,1,08.09.22,3059,BELL,36462,36409,36486,36442,36564,36528,36588,36553,1565,2104,"Zürich, Bellevue","Zürich, Opernhaus"
3,2,1,08.09.22,2079,BELL,34662,34656,34686,34675,34764,34770,34788,34787,1565,2104,"Zürich, Bellevue","Zürich, Opernhaus"
4,2,1,08.09.22,2066,BELL,31068,31100,31086,31121,31152,31220,31182,31266,1565,2104,"Zürich, Bellevue","Zürich, Opernhaus"

In [12]:
df_linie.head()

   Linien_Id  Linienname VSYS Linienname_Fahrgastauskunft
0         31          10    T                          10
1          9          11    T                          11
2         81          12    T                          12
3         26          13    T                          13
4         27          14    T                          14

In [13]:
# remove unnecessary columns in df_linie
df_linie = df_linie.drop(['Linien_Id'], axis=1)

# join to dataframes
df_tot = df_tot.join(df_linie.set_index('Linienname'), on='linie')

In [14]:
# calculate the punctuality per line
df_tot['Pünktlichkeit'] = df_tot.apply(lambda x: 'zu spät' if x["ist_an_nach1"] - x["soll_an_nach"] >= 120 else 'zu früh'
                                            if x["ist_ab_nach"] - x["soll_ab_nach"]<= -60 else "pünktlich", axis=1)

# calculate time difference
df_tot["Zeit-Differenz"] = df_tot.apply(lambda x: x["ist_an_nach1"] - x["soll_an_nach"] if x['Pünktlichkeit'] == "zu spät"
                                            else x["ist_ab_nach"] - x["soll_ab_nach"] if x['Pünktlichkeit'] == "zu früh"
                                            else 0, axis=1)

In [15]:
df_weekday = pd.DataFrame({'Wochentag': ['Sonntag', 'Montag', 'Dienstag' , 'Mittwoch', 'Donnerstag', 'Freitag', 'Samstag', 'Sonntag', 'Montag', 'Dienstag', 'Mittwoch', 'Donnerstag', 'Freitag', 'Samstag', 'Sonntag', 'Montag', 'Dienstag' , 'Mittwoch', 'Donnerstag', 'Freitag', 'Samstag', 'Sonntag', 'Montag', 'Dienstag' , 'Mittwoch', 'Donnerstag', 'Freitag', 'Samstag', 'Sonntag'], 
                        'Datum': ['04.09.22', '05.09.22', '06.09.22', '07.09.22', '08.09.22', '09.09.22', '10.09.22', '11.09.22', '12.09.22', '13.09.22', '14.09.22', '15.09.22', '16.09.22', '17.09.22', '18.09.22', '19.09.22', '20.09.22', '21.09.22', '22.09.22', '23.09.22', '24.09.22', '25.09.22', '26.09.22', '27.09.22', '28.09.22', '29.09.22', '30.09.22', '31.09.22', '01.10.22']}) 

# join to dataframes
df_tot = df_tot.join(df_weekday.set_index('Datum'), on='betriebsdatum')

In [18]:
df_tot.head()

,linie,richtung,betriebsdatum,fahrzeug,halt_kurz_von1,soll_an_von,ist_an_von,soll_ab_von,ist_ab_von,soll_an_nach,ist_an_nach1,soll_ab_nach,ist_ab_nach,halt_id_von,halt_id_nach,halt_lang_von,halt_lang_nach,VSYS,Linienname_Fahrgastauskunft,Pünktlichkeit,Zeit-Differenz,Wochentag
0,2,1,08.09.22,3059,BELL,30618,30603,30636,30632,30702,30713,30732,30740,1565,2104,"Zürich, Bellevue","Zürich, Opernhaus",T,2,pünktlich,0,Donnerstag
1,2,1,08.09.22,2069,BELL,26118,26053,26136,26069,26202,26139,26232,26158,1565,2104,"Zürich, Bellevue","Zürich, Opernhaus",T,2,zu früh,-74,Donnerstag
2,2,1,08.09.22,3059,BELL,36462,36409,36486,36442,36564,36528,36588,36553,1565,2104,"Zürich, Bellevue","Zürich, Opernhaus",T,2,pünktlich,0,Donnerstag
3,2,1,08.09.22,2079,BELL,34662,34656,34686,34675,34764,34770,34788,34787,1565,2104,"Zürich, Bellevue","Zürich, Opernhaus",T,2,pünktlich,0,Donnerstag
4,2,1,08.09.22,2066,BELL,31068,31100,31086,31121,31152,31220,31182,31266,1565,2104,"Zürich, Bellevue","Zürich, Opernhaus",T,2,pünktlich,0,Donnerstag

## 4. Analysis

### 4.1 Descriptive statistics

In [16]:
df_tot.describe().T

,count,mean,std,min,25%,50%,75%,max
linie,5682894.0,103.727427,198.441587,2.0,10.0,32.0,78.0,919.0
richtung,5682894.0,1.498803,0.499999,1.0,1.0,1.0,2.0,2.0
fahrzeug,5682894.0,7272.158284,3889.248936,2002.0,3031.0,10145.0,10463.0,11674.0
soll_an_von,5682894.0,50368.855772,19799.957415,0.0,34422.0,50952.0,66414.0,86394.0
ist_an_von,5682894.0,50415.656318,19809.211766,-11405.0,34458.0,50995.0,66485.0,89200.0
soll_ab_von,5682894.0,50383.541903,19800.028207,0.0,34434.0,50964.0,66426.0,86460.0
ist_ab_von,5682894.0,50429.748771,19809.463206,-2133.0,34472.0,51009.0,66501.0,89200.0
soll_an_nach,5682894.0,50393.053625,19819.237165,0.0,34458.0,50988.0,66456.0,86394.0
ist_an_nach1,5682894.0,50443.064516,19829.016598,-1667.0,34495.0,51036.0,66533.0,88342.0
soll_ab_nach,5682894.0,50407.749185,19819.289044,0.0,34470.0,51000.0,66474.0,86460.0
ist_ab_nach,5682894.0,50470.570778,19829.518044,-1667.0,34523.0,51062.0,66563.0,89193.0
halt_id_von,5682894.0,2274.944962,497.964229,373.0,1938.0,2437.0,2650.0,3319.0
halt_id_nach,5682894.0,2274.964743,498.033773,373.0,1938.0,2437.0,2650.0,3319.0
Zeit-Differenz,5682894.0,33.091825,129.509816,-5400.0,0.0,0.0,0.0,6990.0

### 4.1.1 Kategoriale daten

### 4.2 Exploratory data analysis

## 5. Visualizations

### 5.1 Visualization ideas

### 5.2 Save Visualizations


Save your draft visualizations in the folder `reports/visualizations/`. Use a meaningful name (always include the word `draft` and a `timestamp`in your filename).

## 6. Conclusion and recommended action