# Draft analysis 

---

Group name: Gruppe D

---

## 1. Introduction

### 1.1 Motivation

In dieser Untersuchung setzt sich die Projektgruppe D mit dem Thema Mobilität außeinander. Dieses Thema ist im Hinblick auf aktuelle gesellschaftliche und politische Problemstellungen bezüglich Klimaerwärmung und Klimazielen sehr relevant. Zürich ist neben Wien eine der am besten ausgebauten Städte bezogen auf den öffentlichen Personenverkehr. Es liegt eine Umfangreiche Datensammlung der Verkehrsbezüge Zürich vor, mit der das bestehende Verkersangebot untersucht wird.

### 1.2 Data
Zur Analyse der Daten stehen wöchentliche csv-Dateien zur Verfügung, welche eine Vielzahl an Daten beinhalten. Jeder Eintrag stellt einen geplanten Halt eines Fahrzeugs der Verkehrsbetriebe Zürich dar und gibt eine präzise Auskunft über Datum, Linie, Fahrzeug, Haltestelle und vielem mehr. Somit ermöglicht der Datensatz einen Vergleich zwischen den geplanten und tatsächlich erfolgten Fahrzeiten der Fahrzeuge der Verkehrsbetriebe Zürich. Da vielen Daten aus der Tabelle eine interne ID und somit einen Fremdschlüssel zu anderen Tabellen darstellen, sind weitere Tabellen vorhanden, um diese Daten mit konkreten, verständlichen Bezeichnungen verknüpfen zu können.

Der Datenlieferant ist Verkehrsbetriebe Zürich, Departement der Industriellen Betriebe. Die Daten wurden erstmals 2015 erfasst und werden seither wöchentlich sonntags aktualisiert. Sämtliche Zeiten werden dabei auf die Sekunde gemessen. Über die genaue Bereitstellung der Daten gibt es keine Informationen. Da die Daten wöchentlich aktualisiert werden, ist davon auszugehen, dass die Daten durch einen automatischen Export aus einer oder mehreren weiteren Datenbanktabellen zusammengetragen und miteinander verknüpft werden.

Die zur Verfügung stehenden Datensätze sind sehr groß: Eine grobe Kalkulation ergab eine Anzahl von ca. 147 Mio. Datensätzen für einen Zeitraum von zwei Jahren. Aus diesem Grund erscheint es als sinnvoll, die Daten für die Auswertung herunterzubrechen. Dementsprechend werden jeweils die ersten Februarwochen der Jahre 2019 und 2021 miteinander verglichen. Das primäre Ziel des Vergleichs zwischen der Vor-Corona und der Während-Corona-Zeit findet seinen Ursprung in den fehlenden eindeutigen Indikatoren im Datensatz, welche Auskunft über die tatsächliche Auslastung der Fahrzeuge geben. Im Rahmen einer Analyse des Verkehrsverbundes Nürnberg konnte allerdings festgestellt werden, dass die Nutzung öffentlicher Verkehrsmittel gegenüber der Vor-Corona-Phase stark gesunken ist - teilweise um 45%. Unter der Annahme, dass sich dieses Phänomen ebenfalls auf die Stadt Zürich abbilden lässt, ist eine Grundlage für die Analyse geschaffen. Eine weitere Konzentration auf ein oder zwei spezifische Linien (z.B. eine Bus- und eine Tramlinie) ist nicht ausgeschlossen.

### 1.3 Research Question
Aus der herangegangenen Motiation und Darlegung der Daten stellt sich die Frage: Wie kann der bestehnde Nahverkehr in Zürich verbessert werden? 

### 1.4 Data Dictionary

## 2. Setup

In [3]:
import pandas as pd
import altair as alt

## 3. Data

### 3.1 Import data

Import der benötigten CSV-Dateien

In [4]:
# import csv's

# 1. Februarwoche 2019
df_19 = pd.read_csv("https://data.stadt-zuerich.ch/dataset/vbz_fahrzeiten_ogd_2019/download/Fahrzeiten_SOLL_IST_20190203_20190209.csv")

# 1. Februarwoche 2021
df_21 = pd.read_csv("https://data.stadt-zuerich.ch/dataset/vbz_fahrzeiten_ogd_2021/download/Fahrzeiten_SOLL_IST_20210131_20210206.csv")

# Haltestellen
df_haltestellen = pd.read_csv('https://data.stadt-zuerich.ch/dataset/vbz_fahrzeiten_ogd_2019/download/Haltestelle.csv')

# Haltepunkte
df_haltepunkte = pd.read_csv('https://data.stadt-zuerich.ch/dataset/vbz_fahrzeiten_ogd_2019/download/Haltepunkt.csv')

# Linien
df_linie = pd.read_csv('https://data.stadt-zuerich.ch/dataset/vbz_fahrgastzahlen_ogd/download/LINIE.csv', delimiter=';')

kleine daten Übersicht des Haupt-DataFrames

In [55]:
df_19.head()

,linie,richtung,betriebsdatum,fahrzeug,kurs,seq_von,halt_diva_von,halt_punkt_diva_von,halt_kurz_von1,datum_von,...,fahrweg_id,fw_no,fw_typ,fw_kurz,fw_lang,umlauf_von,halt_id_von,halt_id_nach,halt_punkt_id_von,halt_punkt_id_nach
0,2,1,03.02.19,2072,6,1,6030,0,DEP4,03.02.19,...,99439,15,2,15,DEP4 - KALK,189382,2251,1906,47032,10563
1,2,1,03.02.19,3033,3,1,478,0,BEZI,03.02.19,...,107009,11,1,11,BEZI - BTIE für Ausfahrt,187205,1306,1502,44135,44530
2,2,1,03.02.19,3033,3,5,601,0,KANB,03.02.19,...,107009,11,1,11,BEZI - BTIE für Ausfahrt,187205,2228,2590,49163,46896
3,2,1,03.02.19,3033,3,4,1861,0,PARA,03.02.19,...,107009,11,1,11,BEZI - BTIE für Ausfahrt,187205,1528,2228,44152,49163
4,2,1,03.02.19,3033,3,3,2396,0,SIHS,03.02.19,...,107009,11,1,11,BEZI - BTIE für Ausfahrt,187205,2657,1528,10574,44152

### 3.2 Data structure

In [57]:
df_19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1427372 entries, 0 to 1427371
Data columns (total 34 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   linie                 1427372 non-null  int64
 1   richtung              1427372 non-null  int64
 2   betriebsdatum         1427372 non-null  object
 3   fahrzeug              1427372 non-null  int64
 4   kurs                  1427372 non-null  int64
 5   seq_von               1427372 non-null  int64
 6   halt_diva_von         1427372 non-null  int64
 7   halt_punkt_diva_von   1427372 non-null  int64
 8   halt_kurz_von1        1427372 non-null  object
 9   datum_von             1427372 non-null  object
 10  soll_an_von           1427372 non-null  int64
 11  ist_an_von            1427372 non-null  int64
 12  soll_ab_von           1427372 non-null  int64
 13  ist_ab_von            1427372 non-null  int64
 14  seq_nach              1427372 non-null  int64
 15  halt_diva_nach        1427372 non-null  int64
 16  halt_punkt_diva_nach  1427372 non-null  int64
 17  halt_kurz_nach1       1427372 non-null  object
 18  datum_nach            1427372 non-null  object
 19  soll_an_nach          1427372 non-null  int64
 20  ist_an_nach1          1427372 non-null  int64
 21  soll_ab_nach          1427372 non-null  int64
 22  ist_ab_nach           1427372 non-null  int64
 23  fahrt_id              1427372 non-null  int64
 24  fahrweg_id            1427372 non-null  int64
 25  fw_no                 1427372 non-null  int64
 26  fw_typ                1427372 non-null  int64
 27  fw_kurz               1427372 non-null  int64
 28  fw_lang               1427372 non-null  object
 29  umlauf_von            1427372 non-null  int64
 30  halt_id_von           1427372 non-null  int64
 31  halt_id_nach          1427372 non-null  int64
 32  halt_punkt_id_von     1427372 non-null  int64
 33  halt_punkt_id_nach    1427372 non-null  int64
dtypes: int64(28), object(6)
memory usage: 370.3+ MB

### 3.3 Data corrections

In [47]:
df_19_new = df_19.drop(['kurs', 'seq_von', 'datum_von', 'halt_diva_von','halt_kurz_von1', 'halt_punkt_diva_von','seq_nach', 'halt_diva_nach', 'halt_punkt_diva_nach', 'halt_kurz_nach1', 'datum_nach', 'fahrt_id', 'fahrweg_id', 'fw_no', 'fw_typ', 'fw_kurz', 'fw_lang', 'umlauf_von'], axis=1)

df_19_new.head()

,linie,richtung,betriebsdatum,fahrzeug,soll_an_von,ist_an_von,soll_ab_von,ist_ab_von,soll_an_nach,ist_an_nach1,soll_ab_nach,ist_ab_nach,halt_id_von,halt_id_nach,halt_punkt_id_von,halt_punkt_id_nach
0,2,1,03.02.19,2072,17580,17604,17580,17604,17640,17662,17640,17681,2251,1906,47032,10563
1,2,1,03.02.19,3033,17802,17820,17802,17820,17874,17895,17964,17933,1306,1502,44135,44530
2,2,1,03.02.19,3033,18222,18186,18234,18199,18312,18269,18324,18295,2228,2590,49163,46896
3,2,1,03.02.19,3033,18156,18124,18174,18138,18222,18186,18234,18199,1528,2228,44152,49163
4,2,1,03.02.19,3033,18054,18017,18066,18038,18156,18124,18174,18138,2657,1528,10574,44152

In [58]:
df_19_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1427372 entries, 0 to 1427371
Data columns (total 16 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   linie               1427372 non-null  int64
 1   richtung            1427372 non-null  int64
 2   betriebsdatum       1427372 non-null  object
 3   fahrzeug            1427372 non-null  int64
 4   soll_an_von         1427372 non-null  int64
 5   ist_an_von          1427372 non-null  int64
 6   soll_ab_von         1427372 non-null  int64
 7   ist_ab_von          1427372 non-null  int64
 8   soll_an_nach        1427372 non-null  int64
 9   ist_an_nach1        1427372 non-null  int64
 10  soll_ab_nach        1427372 non-null  int64
 11  ist_ab_nach         1427372 non-null  int64
 12  halt_id_von         1427372 non-null  int64
 13  halt_id_nach        1427372 non-null  int64
 14  halt_punkt_id_von   1427372 non-null  int64
 15  halt_punkt_id_nach  1427372 non-null  int64
dtypes: int64(15), object(1)
memory usage: 174.2+ MB

In [59]:
df_haltestellen_new = df_haltestellen.drop(['halt_diva', 'halt_kurz', 'halt_ist_aktiv'], axis=1)
df_haltestellen_new.head()

   halt_id                      halt_lang
0      143    Birmensdorf ZH, Sternen/WSL
1      309  Waldegg, Birmensdorferstrasse
2      373       Zürich Flughafen, Fracht
3      539               Thalwil, Bahnhof
4      588      Zürich Flughafen, Bahnhof

In [60]:
# join both dataframes
df_all = df_19_new.join(df_haltestellen_new.set_index('halt_id'), on='halt_id_von')
df_all = df_all.rename(columns={"halt_lang": "halt_lang_von"})

df_all = df_all.join(df_haltestellen_new.set_index('halt_id'), on='halt_id_nach')
df_all = df_all.rename(columns={"halt_lang": "halt_lang_nach"})

df_all.head()

,linie,richtung,betriebsdatum,fahrzeug,soll_an_von,ist_an_von,soll_ab_von,ist_ab_von,soll_an_nach,ist_an_nach1,soll_ab_nach,ist_ab_nach,halt_id_von,halt_id_nach,halt_punkt_id_von,halt_punkt_id_nach,halt_lang_von,halt_lang_nach
0,2,1,03.02.19,2072,17580,17604,17580,17604,17640,17662,17640,17681,2251,1906,47032,10563,"Zürich, Depot 4 Elisabethenstr","Zürich,Kalkbreite/Bhf.Wiedikon"
1,2,1,03.02.19,3033,17802,17820,17802,17820,17874,17895,17964,17933,1306,1502,44135,44530,"Zürich, Bezirksgebäude","Zürich, Stauffacher"
2,2,1,03.02.19,3033,18222,18186,18234,18199,18312,18269,18324,18295,2228,2590,49163,46896,"Zürich, Kantonalbank","Zürich, Bürkliplatz"
3,2,1,03.02.19,3033,18156,18124,18174,18138,18222,18186,18234,18199,1528,2228,44152,49163,"Zürich, Paradeplatz","Zürich, Kantonalbank"
4,2,1,03.02.19,3033,18054,18017,18066,18038,18156,18124,18174,18138,2657,1528,10574,44152,"Zürich, Sihlstrasse","Zürich, Paradeplatz"

In [61]:
# Calculate the punctuality per line
df_all['punct_cat'] = df_all.apply(lambda x:
                                            'delay' if x["ist_an_nach1"] - x["soll_an_nach"] >= 120 else 'too early'
                                            if x["ist_ab_nach"] - x["soll_ab_nach"]<= -60 else "punctual", axis=1)

df_all.head()

,linie,richtung,betriebsdatum,fahrzeug,soll_an_von,ist_an_von,soll_ab_von,ist_ab_von,soll_an_nach,ist_an_nach1,soll_ab_nach,ist_ab_nach,halt_id_von,halt_id_nach,halt_punkt_id_von,halt_punkt_id_nach,halt_lang_von,halt_lang_nach,punct_cat
0,2,1,03.02.19,2072,17580,17604,17580,17604,17640,17662,17640,17681,2251,1906,47032,10563,"Zürich, Depot 4 Elisabethenstr","Zürich,Kalkbreite/Bhf.Wiedikon",punctual
1,2,1,03.02.19,3033,17802,17820,17802,17820,17874,17895,17964,17933,1306,1502,44135,44530,"Zürich, Bezirksgebäude","Zürich, Stauffacher",punctual
2,2,1,03.02.19,3033,18222,18186,18234,18199,18312,18269,18324,18295,2228,2590,49163,46896,"Zürich, Kantonalbank","Zürich, Bürkliplatz",punctual
3,2,1,03.02.19,3033,18156,18124,18174,18138,18222,18186,18234,18199,1528,2228,44152,49163,"Zürich, Paradeplatz","Zürich, Kantonalbank",punctual
4,2,1,03.02.19,3033,18054,18017,18066,18038,18156,18124,18174,18138,2657,1528,10574,44152,"Zürich, Sihlstrasse","Zürich, Paradeplatz",punctual

## 4. Analysis

### 4.1 Descriptive statistics

### 4.2 Exploratory data analysis

## 5. Visualizations

### 5.1 Visualization ideas

### 5.2 Save Visualizations


Save your draft visualizations in the folder `reports/visualizations/`. Use a meaningful name (always include the word `draft` and a `timestamp`in your filename).

## 6. Conclusion and recommended action